{% extends 'layout.html' %}

{% block content %}
<div class="container">
  {% if not request.method == 'POST' %}
  <div class="inner">
    <section>
      <h1>Stock Setup</h1>
      <h4>This page will access features related to stock setups.</h4>
      <div class="row">
        <div class="col-6 col-12-medium">
          <form action="stock_setup" method="post">
            <input type="hidden" value="new_category" name="todo"/>
            <input type="submit" value="Create Stock Category" class="button small fit"/>
          </form>
        </div>
        <div class="col-6 col-12-medium">
          <form action="stock_setup" method="post">
            <input type="hidden" value="view_categories" name="todo"/>
            <input type="submit" value="View Categories" class="button small fit"/>
          </form>
        </div>
        <div class="col-6 col-12-medium">
        </div>
        <div class="col-6 col-12-medium">

        </div>
      </div>
    </section>
  </div>
  {% endif %}
  {% if for_display[0] == 'new_category' %}
  <section>
    <h1>{{for_display[1]}}</h1>
    <h4>{{for_display[2]}}</h4>
    <form method="post" action="stock_setup">
      <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
          <input type="text" name="category_name" placeholder="Category" required/>
        </div>
        <div class="col-6 col-12-xsmall">
        </div>
      </div>
      <br>
      <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
          <input type="hidden" value="creating_category" name="todo"/>
          <input type="submit" value="Create New Category" class="button small fit"/>
        </div>
        <div class="col-6 col-12-xsmall">
          <a href="{{url_for('stock_setup')}}" class="button small fit">Cancel</a>
        </div>
      </div>
    </form>
  </section>
  {% elif for_display[0] == 'creating_category' %}
  <section>
    <h1>{{for_display[1]}}</h1>
    <h4>{{for_display[2]}}</h4>
    <p>{{for_display[3]}}</p>
    <a href="{{url_for('stock_setup')}}" class="button primary">Back</a>
  </section>

  {% elif for_display[0] == 'view_categories' %}
  <div class="inner">
    <section>
      <h1>{{for_display[1]}}</h1>
      <h4>{{for_display[2]}}</h4>
      <div class="row">
        <div class="col-6 col-12-medium">

          <div class="table-wrapper">
            <table>
              <thead>
              <tr>
                <th>Category</th>
                <th>ID</th>
                <th>Remove</th>
              </tr>
              </thead>
              <tbody>
              {% for category in for_display[3] %}
              <tr>
                <td>{{category['category_name']}}</td>
                <td>{{category['category_id']}}</td>
                 <td>
              <form action="stock_setup" method="post">
                <input type="hidden" value="disable" name="todo"/>
                <input type="hidden" value="{{category['category_id']}}" name="cat_id"/>
                <input type="submit" value="X " class="icon brands style1"/>
              </form>
            </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            <a href="{{url_for('stock_setup')}}" class="button primary">Back</a>
          </div>
        </div>
      </div>

    </section>
  </div>
  {% elif for_display[0] == 'disable' %}
  <section>
    <h1>{{for_display[1]}}</h1>
    <h4>{{for_display[2]}}</h4>
    <a href="{{url_for('stock_setup')}}" class="button primary">Back</a>
  </section>

  {% endif %}

</div>

{% endblock %}