{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <!-- HEADING -->
  <div class="inner">
    <section>
      <h1>Stockbook</h1>
      <h4>Search stock below.</h4>
    </section>
  </div>
  <!-- MENU -->
  <div class="inner">
    <section>
      <!-- <div class="row gtr-uniform">
       <div class="col-4 col-12-small">
          <form action="stockbook" method="post">
            <input type="hidden" value="view_stock" name="todo"/>
            <input type="hidden" value="items" name="cols"/>
            <input type="hidden" value="all" name="what"/>
            <input type="submit" value="View Stock Items" class="button small"/>
          </form>
        </div>
        <div class="col-4 col-12-small">
          <form action="stockbook" method="post">
            <input type="hidden" value="view_stock" name="todo"/>
            <input type="hidden" value="qty" name="cols"/>
            <input type="hidden" value="all" name="what"/>
            <input type="submit" value="View Stock Quantities" class="button small"/>
          </form>
        </div>
        <div class="col-4 col-12-small">
          <form action="stockbook" method="post">
            <input type="hidden" value="view_stock" name="todo"/>
            <input type="hidden" value="items" name="cols"/>
            <input type="hidden" value="service" name="what"/>
            <input type="submit" value="View All Services" class="button small"/>
          </form>
        </div>
      </div>-->
      <form action="stockbook" method="post">
        <div class="row gtr-uniform">

          <div class="col-4 col-12-small">
            <input type="text" name="term" placeholder="Item/Service/Category/Supplier (Blank for all)"/>
            <input type="hidden" value="view_stock" name="todo"/>
          </div>
          <div class="col-2 col-12-small">
            <select name="cols" required>
              <option value="items">Items</option>
              <option value="qty">Quantities</option>
            </select>
          </div>
          <div class="col-2 col-12-small">
            <select name="s_i" required>
              <option value="n">Stock</option>
              <option value="y">Service</option>
            </select>
          </div>
          <div class="col-4 col-12-small">
            <input type="hidden" value="search" name="what"/>
            <input type="submit" value="Search" class="button small"/>
          </div>
        </div>
      </form>
    </section>
  </div>
  <!-- Display stock Items -->
  {% if for_display[0] == 'view_stock' and for_display[3] == 'items' %}
  <div class="inner">
    <section>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Stock ID</th>
            <th>Item Name</th>
            <th>Unit Cost</th>
            <th>Labour Charge</th>
            <th>RRP</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Deactivate</th>
            <th>Update</th>
          </tr>
          </thead>
          <tbody>
          {% for item in for_display[1] %}
          <tr>
            <td>{{item['id']}}</td>
            <td>{{item['item_name']}}</td>
            <td>{{'%0.2f'|format(item['item_cost']|float)}}</td>
            <td>{{'%0.2f'|format(item['labour_charge']|float)}}</td>
            <td>{{'%0.2f'|format(item['retail_price']|float)}}</td>
            <td>{{item['category_name']}}</td>
            <td>{{item['supplier_name']}}</td>
            <td>
              <form action="stockbook" method="post">
                <input type="hidden" value="disable" name="todo"/>
                <input type="hidden" value="{{item['id']}}" name="item_id"/>
                <input type="hidden" value="{{item['stock_qty']}}" name="c1"/>
                <input type="hidden" value="{{item['order_qty']}}" name="c2"/>
                <input type="hidden" value="{{item['pending_qty']}}" name="c3"/>
                <input type="submit" value="X" class="icon brands style1"/>
              </form>
            </td>
            <td>
              <form action="stockbook" method="post">
                <input type="hidden" value="update" name="todo"/>
                <input type="hidden" value="{{item['id']}}" name="item_id"/>
                <input type="submit" value="U" class="icon brands style1"/>
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <!-- Display stock QTY -->
  {% elif for_display[0] == 'view_stock' and for_display[3] == 'qty' %}
  <div class="inner">
    <section>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Stock ID</th>
            <th>Item Name</th>
            <th>Unit Cost</th>
            <th>Labour Charge</th>
            <th>RRP</th>
            <th>QTY in stock</th>
            <th>QTY on order</th>
            <th>Pending Sales</th>
            <th>Available to Sell</th>
            <th>Total Cost</th>
          </tr>
          </thead>
          <tbody>
          {% for item in for_display[1] %}
          <tr>
            <td>{{item['id']}}</td>
            <td>{{item['item_name']}}</td>
            <td>{{'%0.2f'|format(item['item_cost']|float)}}</td>
            <td>{{'%0.2f'|format(item['labour_charge']|float)}}</td>
            <td>{{'%0.2f'|format(item['retail_price']|float)}}</td>
            <td>{{item['stock_qty']}}</td>
            <td>{{item['order_qty']}}</td>
            <td>{{item['pending_qty']}}</td>
            <td>{{item['stock_qty']-item['pending_qty']}}</td>
            <td>{{'%0.2f'|format(item['total_cost']|float)}}</td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5"></td>
            <td>{{for_display[2]['total_qty']}}</td>
            <td>{{for_display[2]['total_orders']}}</td>
            <td>{{for_display[2]['total_pend']}}</td>
            <td>{{for_display[2]['total_qty']-for_display[2]['total_pend']}}</td>
            <td>{{'%0.2f'|format(for_display[2]['total_cost']|float)}}</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </section>
  </div>
  <!-- Actions the enable/disable stock items -->
  {% elif for_display[0] == 'disable' or for_display[0] == 'enable' %}
  <div class="inner">
    <section>
      <h4>{{for_display[1]}}</h4>
    </section>
  </div>
  <!-- Form to update a stock item -->
  {% elif for_display[0] == 'update' %}
  <div class="inner">
    <section>
      <h4>{{for_display[1]}}</h4>
      <form method="post" action="stockbook">
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <input type="text" name="item_name" value="{{for_display[2][0]['item_name']}}" required/>
          </div>
          <div class="col-6 col-12-xsmall">
            <p>The item should be easily identified by the item name.</p>
          </div>
        </div>
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <input type="number" step="0.01" min="0" name="labour_charge" value="{{for_display[2][0]['labour_charge']}}"
                   required/>
          </div>
          <div class="col-6 col-12-xsmall">
            <p>The amount of labour to be added for this item.</p>
          </div>
        </div>
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <input type="number" step="0.01" min="0" name="rrp" value="{{for_display[2][0]['retail_price']}}" required/>
          </div>
          <div class="col-6 col-12-xsmall">
            <p>The total selling price of this item.</p>
          </div>
        </div>
        <div class="col-12">
          <input type="hidden" value="update_go" name="todo"/>
          <input type="hidden" value="{{for_display[2][0]['id']}}" name="item_id"/>
          <ul class="actions">
            <li><input type="submit" value="Update Item" class="primary"/></li>
            <li><input type="reset" value="Reset Form" class="primary"/></li>
            <li><a href="{{url_for('stockbook')}}" class="button primary">Cancel</a></li>
          </ul>
        </div>

      </form>

    </section>
  </div>
  <!-- Actions the update -->
  {% elif for_display[0] == 'update_go' %}
  <div class="inner">
    <section>
      <h4>{{for_display[1]}}</h4>
    </section>
  </div>

  {% endif %}
</div>
{% endblock %}