{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <!-- HEADING -->
  <div class="inner">
    <section>
      <h1>Stockbook</h1>
      <h4>Use the options to view stock</h4>
    </section>
  </div>
  <!-- MENU -->
  <div class="inner">
    <section>
      <div class="row" align="right">
        <form action="stockbook" method="post">
          <input type="hidden" value="view_stock" name="todo"/>
          <input type="hidden" value="items" name="cols"/>
          <input type="hidden" value="all" name="what"/>
          <input type="submit" value="View Stock Items" class="button small"/>
        </form>
        <form action="stockbook" method="post">
          <input type="hidden" value="view_stock" name="todo"/>
          <input type="hidden" value="qty" name="cols"/>
          <input type="hidden" value="all" name="what"/>
          <input type="submit" value="View Stock Quantities" class="button small"/>
        </form>
        <form action="stockbook" method="post">
          <input type="hidden" value="view_stock" name="todo"/>
           <input type="hidden" value="items" name="cols"/>
         <input type="hidden" value="service" name="what"/>
          <input type="submit" value="View All Services" class="button small"/>
        </form>
      </div>
    </section>
  </div>
  <!-- Display stock Items -->
  {% if for_display[0] == 'view_stock' and for_display[3] == 'items' %}
  <div class="inner">
    <section>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Stock ID</th>
            <th>Item Name</th>
            <th>Unit Cost</th>
            <th>Labour Charge</th>
            <th>RRP</th>
            <th>Category</th>
            <th>Supplier</th>
          </tr>
          </thead>
          <tbody>
          {% for item in for_display[1] %}
          <tr>
            <td>{{item['id']}}</td>
            <td>{{item['item_name']}}</td>
            <td>{{'%0.2f'|format(item['item_cost']|float)}}</td>
            <td>{{'%0.2f'|format(item['labour_charge']|float)}}</td>
            <td>{{'%0.2f'|format(item['retail_price']|float)}}</td>
            <td>{{item['category_name']}}</td>
            <td>{{item['supplier_name']}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <!-- Display stock QTY -->
  {% elif for_display[0] == 'view_stock' and for_display[3] == 'qty' %}
  <div class="inner">
    <section>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>Stock ID</th>
            <th>Item Name</th>
            <th>Unit Cost</th>
            <th>Labour Charge</th>
            <th>RRP</th>
            <th>QTY in stock</th>
            <th>QTY on order</th>
            <th>Pending Sales</th>
            <th>Available to Sell</th>
            <th>Total Cost</th>
          </tr>
          </thead>
          <tbody>
          {% for item in for_display[1] %}
          <tr>
            <td>{{item['id']}}</td>
            <td>{{item['item_name']}}</td>
            <td>{{'%0.2f'|format(item['item_cost']|float)}}</td>
            <td>{{'%0.2f'|format(item['labour_charge']|float)}}</td>
            <td>{{'%0.2f'|format(item['retail_price']|float)}}</td>
            <td>{{item['stock_qty']}}</td>
            <td>{{item['order_qty']}}</td>
            <td>{{item['pending_qty']}}</td>
            <td>{{item['stock_qty']-item['pending_qty']}}</td>
            <td>{{'%0.2f'|format(item['total_cost']|float)}}</td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5"></td>
            <td>{{for_display[2]['total_qty']}}</td>
            <td>{{for_display[2]['total_orders']}}</td>
            <td>{{for_display[2]['total_pend']}}</td>
            <td>{{for_display[2]['total_qty']-for_display[2]['total_pend']}}</td>
            <td>{{'%0.2f'|format(for_display[2]['total_cost']|float)}}</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </section>
  </div>
  {% endif %}
</div>
{% endblock %}