					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{url_for('index')}}">Home</a></li>
							<li><a href="{{url_for('dashboard')}}">My Dashboard</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="{{url_for('stock_setup')}}">Stock Setup</a></li>
							<li><a href="{{url_for('suppliers')}}">Supplier Management</a></li>
							{% if g.user.account_type == 'super' %}
							<li><a href="{{url_for('superuser')}}">SuperUser Features</a></li>
							{% endif %}
						</ul>
					</nav>
