{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="inner">
					<section>
            {% if request.method == 'POST' %}
              <h3>{{more}}</h3>
            {% endif %}
            <h2>Create new user:</h2>
            <form method="post" action="/adduser">
              <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="user_code" id="user_code" value="" placeholder="User Code" required />
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="user_name" id="user_name" value="" placeholder="User Name" />
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li><input type="submit" value="Create User" class="primary" /></li>
                    <li><input type="reset" value="Reset" class="primary" /></li>
                    <li><a href="{{url_for('superuser')}}" class="button primary">Cancel</a></li>
                  </ul>
                </div>
              </div>
            </form>

					</section>
				</div>
    </div>
{% endblock %}