{% extends 'layout.html' %}

{% block content %}
<div class="container">
  {% if not request.method == 'POST' %}
  <div class="inner">
    <section>
      <h1>SuperUser Features</h1>
      <h4>These features are mostly meant for setup purposes.</h4>
      <div class="row">
        <div class="col-6 col-12-medium">
          <form action="superuser" method="post">
            <input type="hidden" value="view_users" name="todo"/>
            <input type="submit" value="View All Users" class="button small fit"/>
          </form>
        </div>
        <div class="col-6 col-12-medium">
          <form action="superuser" method="post">
            <input type="hidden" value="add_user" name="todo"/>
            <input type="submit" value="Add a New User" class="button small fit"/>
          </form>
        </div>
      </div>

    </section>
  </div>
  {% endif %}
  {% if for_display[1] == 'view_users' %}
  <div class="inner">
    <section>
      <h1>View Users</h1>
      <h4>A list of all registered users.</h4>
      <div class="table-wrapper">
        <table>
          <thead>
          <tr>
            <th>User Name</th>
            <th>User Code</th>
            <th>User Type</th>
            <th>Reset Password</th>
            <th>Rename</th>
          </tr>
          </thead>
          <tbody>
          {% for user in for_display[0] %}
          <tr>
            <td>{{user['username']}}</td>
            <td>{{user['usercode']}}</td>
            <td>{{user['usertype']}}</td>
            <td>
              <form action="passreset" method="post">
                <input type="hidden" value="{{user['user_id']}}" name="user"/>
                <input type="submit" value="Reset" class="button small fit"/>
              </form>
            </td>
            <td>
              <form action="superuser" method="post">
                <input type="hidden" value="rename" name="todo"/>
                <input type="hidden" value="{{user['usercode']}}" name="user"/>
                <input type="submit" value="Rename" class="button small fit"/>
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        <a href="{{url_for('superuser')}}" class="button primary">Back</a>
      </div>
    </section>
  </div>
  {% elif for_display[1] == 'add_user' %}
  <div class="inner">
    <section>
      <h2>Create new user:</h2>
      <form method="post" action="superuser">
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <input type="text" name="user_code" id="user_code" value="" placeholder="User Code" required/>
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="hidden" value="creating" name="todo"/>
            <input type="text" name="user_name" id="user_name" value="" placeholder="User Name"/>
          </div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="Create User" class="primary"/></li>
              <li><input type="reset" value="Reset" class="primary"/></li>
              <li><a href="{{url_for('superuser')}}" class="button primary">Cancel</a></li>
            </ul>
          </div>
        </div>
      </form>

    </section>
  </div>
  {% elif for_display[1] == 'creating' %}
  <div class="inner">
    <section>
      <h2>{{for_display[0]}}</h2>
      <a href="{{url_for('superuser')}}" class="button primary">Back</a>
    </section>
  </div>
  {% elif for_display[1] == 'rename' %}
  <div class="inner">
    <section>
      <h2>Rename user:</h2>
      <form method="post" action="superuser">
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <input type="hidden" value="renaming" name="todo"/>
            <input type="hidden" name="user" value="{{for_display[0]._id}}"/>
            <input type="text" name="user_rename" id="user_rename" value="{{for_display[0].name}}" placeholder=""/>
          </div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="Rename User" class="primary"/></li>
              <li><input type="reset" value="Reset" class="primary"/></li>
              <li><a href="{{url_for('superuser')}}" class="button primary">Back</a></li>
            </ul>
          </div>
        </div>
      </form>

    </section>
  </div>
  {% elif for_display[1] == 'renaming' %}
  <h1>Renamed User</h1>
  <p>{{for_display[0]}}</p>
  <a href="{{url_for('superuser')}}" class="button primary">Back</a>
  {% endif %}

</div>
{% endblock %}