{% extends 'layout.html' %}

{% block content %}
        <div class="inner">
					<section>
            <h1>View Users:</h1>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>User Name</th>
													<th>User Code</th>
													<th>User Type</th>
													<th>Reset Password</th>
													<th>Rename</th>
												</tr>
											</thead>
											<tbody>
											{% for user in users %}
												<tr>
													<td>{{user['username']}}</td>
													<td>{{user['usercode']}}</td>
													<td>{{user['usertype']}}</td>
													<td>
														<form action="passreset" method="post">
															<input type="hidden" value="{{user['user_id']}}" name="user" />
															<input type="submit" value="Reset" class="button small fit" />
														</form>
													</td>
													<td>
														<form action="renameuser" method="post">
															<input type="hidden" value="{{user['usercode']}}" name="user" />
															<input type="submit" value="Rename" class="button small fit" />
														</form>
													</td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
										<a href="{{url_for('superuser')}}" class="button primary">Back</a>
									</div>
					</section>
				</div>
{% endblock %}